@font-face {
  font-family: "vazir-medium";
  src: url("./../assets/fonts/Vazir-Medium-FD-WOL.woff");
}


html,
body {
  font-family: "vazir-medium",-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: right;
}
